.lm-header{
    font-family:"Arial, Helvetica, sans-serif";
    font-size: 20px;
    
}

.h1 span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: #F4CE14;
}

.h4 span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    
}

.button {
    background-color: #F4CE14;
    border-radius: 16em;
    font-weight: bold;
}

.main-contaniner{
    background-color: #495E57;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
}

.desc p{
    color: white;
}

.reservation-div {
    padding-top: 1em;
    padding-left: 2em;

}

.reservation-div input{
    text-align: left;

}